:root {
  --prim-clr: #f04e56;
  --wt-clr: #f4f4f4;
  --drk-clr: rgb(27, 27, 27);
  --wdrk-clr: #333;
  --sec-clr: #fcd729;
  --third-clr: #a65a4c;
  --red-clr: rgb(182, 42, 7);
  --gdrk-clr: #2b2c2b;
  --dred-clr: rgb(136, 32, 6);
  --prim-font: Copperplate Gothic Bold;
  --sec-font: Comic Sans MS;
  --brdr-size: 10px;
  --shadow-clr: #dbb76e83;
  --blue-drk-clr: #1b1b21;
}
h1{
  margin: 0;
  padding: 0;
  font-size: 47px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
/* HEADER STYLE ST */
.header{
  max-width: 100vw;
  max-height: 170px;
  /* padding-bottom: 4px; */
  border-bottom: 4px solid var(--wt-clr);
  color: var(--wt-clr);
  background-color: var(--drk-clr);
}
.header .m-container {
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: 195.792px 694.198px;
  grid-template-rows: 70px 48px;
  max-width: 900px;
  height: 100%;
  padding: 5px;
  margin: auto;   
}
.header .m-container a{
  grid-row: 1 / span 2;
  grid-column: 1 / span 1 ;
  display: block;
  margin: 11px auto;
  padding: 0;
  font-size: 13px;
}
.header .m-container .name{
  grid-row: 1 / span 1;
  grid-column: 2 / span 1 ;
  font-family: var(--prim-font);
  font-size: 47px;
  text-align: center;
  margin: 0px auto;
  margin-top: 15px;
  padding: 0;
}
.header .m-container .categ li{position: relative;;padding: 0 8px;}
.header .m-container .categ li::before{
  content: '';
  width: 7px;
  height: 7px;
  background-color: var(--wt-clr);
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 40%;
}
.header .m-container .categ li:first-child::before{
  display: none;
}
.header .m-container .categ {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1 ;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
  font-size: 12px;
  font-family: var(--prim-font) !important;

}
/* .header .m-container a {
  width: 30px;
  height: 30px;
} */
.header .m-container a .main-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  /* padding: 30px; */
}
.olym {
  color: var(--prim-clr);
  font-weight: bold;
}
.catt a {
  color: var(--wt-clr);
}
.transi {
  transition-property: color background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.catt a:hover {
  color: var(--sec-clr);
}
.crrnt a {
  color: var(--prim-clr);
  font-weight: bolder;
}
.crrnt a:hover {
  color: var(--prim-clr);
}
/* HEADER STYLE END */

/* CONTACT SHOWCASE ST */
.contact-showcase {
  width: 100vw;
  height: 48 0px;
  background-color: var(--wdrk-clr);
  background: url("../img/getback.jpg") no-repeat center center/cover;
  position: relative;
}
.contact-showcase .m-container {
  margin: auto;
  padding-top: 50px;
  max-width: 900px;
  padding-left: 30px;
  position: relative;
  z-index: 3;
}
.contact-showcase::before {
  content: ''; 
  position: absolute;
  right: 60px;
  top: 10px;
  width: 420px;
  height: 450px;
  background: url("../img/getimg.png") no-repeat center center/cover;
}
.contact-showcase .m-container .toch-png {
  padding: 0;
  margin: 0;
  font-size: 2.2rem;
  color: var(--wt-clr);
  /* padding: 20px; */
  /* padding-left: 30px; */
  width: 500px ;
  display: block;
}

.contact-showcase .m-container form {
  width: 416px;
  padding: 20px;
  padding-top: 30px;
  font-family: var(--sec-font) !important;
}
.contact-showcase .m-container form .inpts {
  display: grid;
  /* grid-template-rows: 1; */
  grid-template-columns: 46.3958px 337.594px;;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.contact-showcase .m-container form .inpts label {
  padding-bottom: 4px;
  font-weight: bold;
  font-family: var(--sec-font) !important;
 }
.contact-showcase .m-container form .inpts input {
  background-color: var(--wt-clr);
  height: 100%;
  border: none !important;
  padding-left: 5px;
}
.contact-showcase .m-container form .txt-area-div #message{
  margin: 0px; width: 100%; height: 118px;
  margin-top: 10px !important;
  padding: 5px;
  display: block;
  background-color: var(--wt-clr);
}
.contact-showcase .m-container .sbmt-btn {
  font-family: var(--sec-font);
  margin: 10px auto !important;
  display: block;
  border: none;
  padding: 4px 9px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--sec-clr);
  color: var(--wdrk-clr);
  cursor: pointer;
  border: 0.1px solid black;
  box-shadow: 0px 0px 4px black;
}
/* CONTACT SHOWCASE END */
/* NOT BUILT ST */
  .not-built {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: rgba(128, 128, 128, 0.699);
    text-align: center;
  }
.not-built h1 {
    margin-top: 50px;
}

/* NOT BUILT END */
/* FOLLOW SECTION ST */
.follow-section {
  width: 100vw;
  height: 299px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--gdrk-clr);
  border-top: var(--brdr-size) solid var(--sec-clr);
  border-bottom: var(--brdr-size) solid  var(--sec-clr);
  grid-template-columns: 100%;;
  /* margin: 30px 0; */
}
.follow-section .m-container {
  /* background: repeating-linear-gradient(to left,var(--red-clr), rgba(136, 32, 6, 0.062) 5px); */
  background: url("../img/followback.jpg") no-repeat center center/cover;
  width: 100%;
  text-align: center;
  height: 220px;
  padding-top: 10px;
  color: var(--wt-clr);
}
.follow-section .m-container .follow {
  width: 500px;
}
.follow-section .m-container .follow-txt {
  font-family: var(--sec-font) !important;
  margin-top: 15px;
  font-size: 18px;
  margin: auto;
  text-align: center;
  color: #000101;
}
.follow-section .m-container .social-accs {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  max-width: 400px;
  margin: 20px auto;
}
.follow-section .m-container .social-accs .icons a {
  cursor: pointer;
  color: var(--drk-clr);
}
.to-prim:hover {
  color: var(--sec-clr) !important;
  background-color: var(--prim-clr) !important;
}
/* FOLLOW SECTION END */
/* CONTACT PAGE END */
/* FREE RESOURCES ST */
.free-res {
  max-width: 100vw;
  height: 360px;
  background-color: red;
}
.free-res .m-container {
  width: 100%;
  /* display: grid;
  justify-content: center; */
}
.free-res .m-container > img {
  width: 350px;
  margin: auto;
  padding-top: 13px;
  display: block;
}
.free-res .m-container .carousel {
  margin: auto;
  width: 100%;
  height: 260px;
  /* display: none; */
}
.free-res .m-container .carousel .carousel-item {
  width: 330px;
  height: 230px;
  padding: 50px;
  border: 1px solid var(--sec-clr);
}
 .carousel-item .vid-title {
  text-align: center;
  color: var(--wt-clr);
  font-family: var(--sec-font);
  font-weight: bolder;
  font-size: 18.5px;
  background: linear-gradient(to bottom, transparent 45%, var(--third-clr) 55%)
}
.fst-sect {
  background: url(../img/resfstback.jpg) no-repeat center center/cover;
  border-bottom: var(--brdr-size) solid var(--sec-clr);
}
.sec-sect {
  background: url(../img/secbackimg.jpg) no-repeat center center/cover;
}
.fst-sect ,
.sec-sect  {
  height: 392px !important
}
.fst-sect .m-container .vidss,
.sec-sect .m-container .vidss{
  padding-top: 24px;
  height: 255px !important;
}
.sec-sect .carousel-item, .fst-sect .carousel-item{
  width: 330px;
  height: 230px;
  padding: 9px 30px;
  padding-bottom: 0;
}
.sec-sect .carousel-item video, .fst-sect .carousel-item video {
  display: block;
  margin: auto;
  width: 345px;
  box-shadow: -25px -20px var(--shadow-clr);
}
.fst-sect .carousel-item video {box-shadow: none}

.sec-sect .carousel-item .vid-title, .fst-sect .carousel-item .vid-title {
  margin-top: 8px;
  margin: auto;
  width: max-content;
  padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
  background-color: var(--wt-clr)
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: var(--sec-clr);
}
.third-sect {
  background: url(../img/thirdbackimg.jpg) no-repeat center center/cover;
  border-top: var(--brdr-size) solid var(--sec-clr);
  border-bottom: var(--brdr-size) solid var(--sec-clr);
  position: relative;
  height: auto;
  min-height: 360px;
}
.third-sect::before {
  content: '';
  position: absolute;
  width: 140PX;
  height: 150px;
  top: -32px;
  right: 180px;
  background: url(../img/thirdarrowimg.png) no-repeat center center/cover;
}
.third-sect::after {
  content: '';
  position: absolute;
  width: 140PX;
  height: 150px;
  top: -40px;
  right: 159px;
  background: url(../img/thirdarrowimg.png) no-repeat center center/cover;
  opacity: 0.4;
}
.third-sect .m-container {
  padding: 0 80px;
}
.tests {
  width: 100%;
  /* padding: 0 20px; */
  margin: auto;
  padding-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  /* grid-template-rows: repeat(auto-fit, minmax(300px, 1fr)); */
}
.tests .test a{
  margin: auto;
  /* padding: 40px; */
  width: 180px;
  height: 180px;
  padding: 20px;
  border-radius: 100%;
  background-color: var(--gdrk-clr);
  border: 4px solid var(--wt-clr);
  display: grid;
  justify-content: center;
  align-items: center;

}
 .tests .test a img {
  width: 90px;
  display: block;
  margin: auto;
  /* vertical-align: middle; */
}
 .tests .test p {
  text-align: center;
  color: var(--wt-clr);
  font-family: var(--sec-font);
  font-weight: bolder;
  font-size: 18.5px;
  background-color: var(--wt-clr);
  color: var(--drk-clr);
  margin: auto;
  margin-top: 10px;
  width: max-content;
  padding: 0 4px;
}

.tests .test a{
  transition-property: background transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  position: relative;
  z-index: 2;
}
.tests .test a::before {
  content: '';
  position: absolute;
  background: linear-gradient(transparent , var(--prim-clr) );
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2 ;
  border-radius: 100%;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.tests .test a:hover::before {
  opacity: 0.8;
}
.tests .test a:hover {
  transform: translateY(-9px);
  color: transparent;
}
/* FREE RESOURCES END */

/* COURSES ST */
.fst-cours .m-container img {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
.fst-cours {
  background-color: var(--drk-clr);
}
.fst-cours .m-container {
  /* height: 1197px; */
  /* height: 848px; */
  max-width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}
.fst-cours .m-container .right-side {
  background: url(../img/fstcoursrightback.jpg) no-repeat center center/cover;
  border-left: 3px solid var(--wt-clr);
}
.fst-cours .m-container .left-side, .fst-cours .m-container .right-side{
  position: relative;
}
.fst-cours .m-container img.zup {
  position: absolute;
  z-index: 2;
  width: 320px !important;
  height: 84px !important;
  left: 0px;
  top: 46px;
}
.fst-cours .m-container .right-side .strt-txt {
  width: 100%;
  position: absolute;
  z-index: 2;
  margin: auto;
  bottom: 50px;
  text-align: center;
  font-family: var(--sec-font);
  /* font-size: 32px; */
  font-size: 38px;
  font-weight: bolder;
  color: var(--wt-clr);
}
.fst-cours .m-container .right-side .strt-txt p{
  display: block;
  margin: auto;
  background: linear-gradient(transparent 65%, #aa8e41 50%);
  padding: 0 4px;
  width: max-content;
}
.fst-cours .m-container .right-side .strt-txt .start-btn {
  display: block;
  margin: auto;
  width: 72%;
  margin-top: 25px;
  color: var(--drk-clr);
  background-color: var(--sec-clr);
  box-shadow: inset -3px -4px 10px var(--drk-clr);
  transition-property: box-shadow;
  transition-duration: 0.4s;
  border-radius: 5px;
}
.fst-cours .m-container .right-side .strt-txt .start-btn:hover {
  box-shadow: inset 0 0 10px var(--drk-clr);
}

.fst-cours-edited .m-container {
  max-width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  /* min-height: 1240px; */
  min-height: 1000px
}
.fst-cours-edited .m-container .left-side {
  height: 100%;
  background-color: green;
  background: url(../img/fstcoursimgleft.jpg) no-repeat center center/cover;
}
.fst-cours-edited .m-container .left-side .png {margin-top: 70px;}
.fst-cours-edited .m-container .right-side {
  background: url(../img/fstcoursrightback.jpg) no-repeat center center/cover;
  /* position: relative; */
}
.fst-cours-edited .m-container .right-side img {
  /* width: 100%;height: 100%; */
  width: 90%;
  margin: auto;
  display: block;
  /* position: absolute; */
}
.fst-cours-edited .m-container .right-side .strt-txt {
  width: 100%;
  text-align: center;
  font-family: var(--sec-font);
  /* font-size: 32px; */
  font-size: 39px;
  font-weight: bolder;
  color: var(--wt-clr);
  margin-bottom: 40px;
  /* position: absolute; */
  bottom: 30px;
  margin-top: -20px;
}
.fst-cours-edited .m-container .right-side .strt-txt p{
  display: block;
  margin: auto;
  background: linear-gradient(transparent 65%, #aa8e41 50%);
  padding: 0 4px;
  width: max-content;
}
.fst-cours-edited .m-container .right-side .strt-txt .start-btn {
  display: block;
  margin: auto;
  width: 65%;
  margin-top: 25px;
  color: var(--drk-clr);
  background-color: var(--sec-clr);
  box-shadow: inset -3px -4px 10px var(--drk-clr);
  transition-property: box-shadow;
  transition-duration: 0.4s;
  border-radius: 5px;
}
.fst-cours-edited .m-container .right-side .strt-txt .start-btn:hover {
  box-shadow: inset 0 0 10px var(--drk-clr);
}



.sec-cours .m-container img{
  width: 400px;
  /* display: block;
  margin: auto; */
}
.sec-cours {
  background-color: var(--blue-drk-clr);
  background: url(../img/seccoursback.jpg) no-repeat center center/cover;
}
.sec-cours .m-container {
  /* height: 510px; */
  height: 586px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: var(--sec-font);
}
.sec-cours .m-container .benefits-title {position: relative;}
.sec-cours .m-container .benefits-title p{
  font-size: 52px;
  font-weight: bolder;
  color: var(--wt-clr);
  width: min-content;
  line-height: 51px;
  position: absolute;
  line-height: 51px;
  left: 0;
  bottom: 240px;
  padding-left: 149px;
}
.sec-cours .m-container .benefits-title p::before {
  content: '';
  height: 10px;
  width: 100%;
  background-color: var(--wt-clr);
  position: absolute;
  bottom: -25px;
  left: 0;
  /* animation-name: underline;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; */
}
@keyframes underline {
  to {
    width: 100%
  }
}
.sec-cours .m-container .benefits-title img {
  width: 300px;
  position: absolute;
  left: 0;
  bottom: 40px;
}

.benefits-txt-container {
  position: relative;
}
.benefits-txt-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 120px;
  background: url(../img/purplelines.png) no-repeat center center/cover;
  width: 150px;
  height: 200px;
  z-index: 0;
}
.benefits-txt-container .bnfts-txt {
  background-color: var(--wt-clr);
  color: var(--blue-drk-clr);
  height: max-content;
  max-width: max-content;
  margin-left: 210px;
  margin-top: 70px;
  padding: 30px 18px 0 8px;
  position: absolute;
  z-index: 2;
}
.bnfts-txt .bnfts {
  height: max-content;
  width: 390px;
  padding-bottom: 1px;
  
}
.bnfts-txt .bnfts .bnft {
  display: grid;
  grid-template-columns: 30px auto;
  margin-bottom: 16px;
}
.bnfts-txt .bnfts .bnft img{
  width: 27px;
  height: 27px;
  display: block;
}
.bnfts-txt .bnfts .bnft p {
  display: block;
  font-weight: bold;
  font-size: 22px;
}
.bnfts-txt .bnfts .bnft p .prpl {
  color: var(--prim-clr) !important;
}


.third-cours .m-container {
  min-height: 360px;
  background-color: var(--prim-clr);
  color: var(--wt-clr);
  font: var(--sec-font);
  position: relative;
  width: 100%;
  /* display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-rows: 50px auto;
  grid-template-columns: auto; */
  padding-top: 20px;
  font-family: var(--sec-font);
}
.third-cours .m-container::before {
  content: '';
  position: absolute;
  top: -130px;
  left: 590px;
  width: 140px;
  height: 150px;
  background: url(../img/thirdarrowimg.png) no-repeat center center/cover;
}
.third-cours .m-container:after {
  content: '';
  width: 423px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/drkarrow.png) no-repeat center center/cover;
}
.third-cours .m-container .titl {
  display: block;
  margin: 0 auto 20px auto;
  text-align: center;
  width: max-content;
  position: relative;
  z-index: 5;
  font-size: 26px;
  padding: 0 5px;
  background: linear-gradient(transparent 60%, #502d2dd7 50%);
}
.third-cours .m-container .packages {
  margin-top: 40px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1.1fr)) */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1.1fr));
  max-width: 900px;
  margin: auto;
}
.third-cours .m-container .packages .package {
  /* margin: 0 40px;
  background: url(../img/pack.jpg) no-repeat center center/cover; */
  /* background: red; */
  width: 214px;
  height: 214px;
  display: grid;
  margin: auto;
  /* justify-content: center; */
  margin: auto;
  align-items: center;
  position: relative;
  text-align: center;
  border: 8px solid var(--prim-clr);
  z-index: 3;

}

.third-cours .m-container .packages .package.bef::before {
  content: '';
  position: absolute;
  /* grid-area: 0 / 0; */
  width: 100px;
  height: 100px;
  background-color: black;
  z-index: -1;
  top: -10px;
  right: -10px;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.packages .package.af::after {
  content: '';
  position: absolute;
  /* grid-area: 0 / 0; */
  width: 100px;
  height: 100px;
  background-color: black;
  z-index: -1;
  bottom: -10px;
  left: -10px;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.packages .package.afr::after {
  content: '';
  position: absolute;
  /* grid-area: 0 / 0; */
  width: 100px;
  height: 100px;
  background-color: black;
  z-index: -1;
  bottom: -10px;
  right: -10px;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
 .packages .package.bef:hover::before {transform: translate(0px, 73px)}
 .packages .package.af:hover::after {transform: translate(0px, -73px)}
 .packages .package.afr:hover::after {transform: translate(0px, -73px)}
.packages .package img {
  width: 100%;height: 100%; position: absolute; top: 0;bottom: 0;left: 0;right: 0;border: 3px solid var(--prim-clr);
  
}
.third-cours .m-container .packages .package  .pric {
  position: absolute;
  bottom: 6px;
  right: 6px;
  padding: 8px;
  background-color: var(--wt-clr);
  color: var(--prim-clr);
  font-weight: bolder;
  border-radius: 3px;
}
.packages .package p {
  display: block;
    width: 100%;
    background: rgba(27, 27, 33, 0.479);
    padding: 3px 0;
    font-weight: bold;
    position: absolute;
  z-index: 3;
  font-size: 24px;
}
.packages .package p .pln {
  text-decoration: underline;
}
.third-cours .m-container .packages .package p span {
  display: block;
} 
/* PACKAGES MODAL */
.package-modal-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr ));
  background-color: var(--blue-drk-clr);
  background: linear-gradient(45deg, var(--blue-drk-clr) 80%, var(--sec-clr) 40%)
}
.package-modal-cont .imag img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  max-width: 270px;
  max-height: 280px;
  border-radius: 60px 10px 10px 10px;
}
.package-modal-cont .txt {
  font-family: var(--sec-font);
  color: var(--wt-clr);
  padding: 4px 9px 20px 9px;
  margin-bottom: 40px;
  background-color: var(--prim-clr);
  /* box-shadow: 0 0 5px var(--sec-clr); */
}
.package-modal-cont .txt h4 {
  display: block;text-align: center;margin: auto;
  max-width: max-content;
  margin-bottom: 20px;
}
/* .package-btns .g-out {border: 2px solid var(--blue-drk-clr);} */
.package-btns a {color: var(--wt-clr);}
.package-btns .add-it {font-family: var(--sec-font);font-weight: bold; background-color: var(--blue-drk-clr);color: white}
.package-btns .pric {color: var(--wt-clr)}

.a-style-hover > li:hover  a {text-decoration: underline;}

.fth-cours {
  background-color: #1a191f;
  position: relative;
  font-family: var(--sec-font);
  padding: 0 35px;
}
.fth-cours::before {
  content: '';
  /* position: absolute; */
  top: -122px;
  right: 0px;
  width: 220px;
  height: 191px;
  background: url(../img/whitelines.png) no-repeat center center/cover;
  opacity: 0.42;
}
.fth-cours  img {
  bottom: 105px;
  width: 380px;
  align-self: flex-end;
  margin: 10px 0;
}
.fth-cours  p {
  display: block;
  /* position: absolute;
  right: 0;
  bottom: 400px; */

  font-size: 52px;
  font-weight: bolder;
  color: var(--wt-clr);
  width: max-content;
  line-height: 51px;
  padding-right: 149px;
  position: relative;
  z-index: 4;
  align-self: flex-start;
}
.fth-cours  p::before {
  content: '';
  height: 10px;
  width: 1%;
  background-color: var(--wt-clr);
  position: absolute;
  bottom: -25px;
  left: 0;
  animation-name: underline;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.fth-cours .m-container {
  background: url(../img/fthback.jpg) no-repeat center center/cover;
  min-height: 300px;
  background-attachment: fixed;
  max-width: 100vw;
  margin: auto;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 60px 0;
}

.fifth-cours {position: relative;}
.fifth-cours::before {
  content: '';
  position: absolute;
  top: -130px;
  right: 50px;
  width: 140px;
  height: 150px;
  background: url(../img/thirdarrowimg.png) no-repeat center center/cover;
}
.fifth-cours .m-container {
  /* background: url(../img/fifthback.jpg) no-repeat center center/cover; */
  background-color: #333433;
  border-left: 40px solid var(--prim-clr);
  min-height: 630px;
  padding: 40px;
  padding-bottom: 50px;
  font-family: var(--prim-font);
  /* font-weight: bold; */
  color: var(--wt-clr);
}

.fifth-cours .m-container .prem-css {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 77px;
}
.fifth-cours .m-container .prem-css .prem-cs {
  background: url(../img/fifthcourssimg1.jpg) no-repeat center center/cover;
  width: 300px;
  height: 300px;
  margin: auto;
  display: grid;
  align-items: flex-end;
  box-shadow: -24px 29px var(--prim-clr);
  position: relative;
}
.fifth-cours .m-container .prem-css .prem-cs .befr  {
  font-size: 11px;
  font-weight: lighter;
  position: absolute;
  bottom: -20px;
  left: 2px;
}
/* #prem-cs-1 {background: url(../img/fifthcourssimg1.jpg) no-repeat center center/cover;}
#prem-cs-2 {background: url(../img/fifthcourssimg2.jpg) no-repeat center center/cover;}
#prem-cs-3 {background: url(../img/fifthcourssimg3.jpg) no-repeat center center/cover;}
#prem-cs-4 {background: url(../img/fifthcourssimg4.jpg) no-repeat center center/cover;}
#prem-cs-5 {background: url(../img/fifthcourssimg5.jpg) no-repeat center center/cover;} */
/* .prem-cs.bef.found::before {content: '* Suitable for Foundation / Beginners level';} */
/* .prem-cs.bef.adv::before {content: '* Suitable for Advanced level';} */
.fifth-cours .m-container .prem-css .prem-cs .whole-txt p{display: block;padding-left: 4px}
.fifth-cours .m-container .prem-css .prem-cs .aftr{
  /* content: '$$$$'; */
  background-color: var(--wt-clr);
  position: absolute;
  bottom: 4px;
  right: 8px;
  color: var(--prim-clr);
  padding: 4px;
  border-radius: 4px;
}
.fifth-cours .m-container .prem-css .prem-cs p.titl {
  padding: 3px;
  background-color: var(--prim-clr);
  opacity: 0.81;
  font-family: Copperplate Gothic Bold;
  font-size: 23px;
}
.fifth-cours .m-container .prem-css .prem-cs p.disc,
.fifth-cours .m-container .prem-css .prem-cs p.mat,
.fifth-cours .m-container .prem-css .prem-cs p.vid,
.fifth-cours .m-container .prem-css .prem-cs p.pdf {
  font-size: 13px;
  position: relative;
  font-family: Century Gothic;
  font-weight: bold;
}
.fifth-cours .m-container .prem-css .prem-cs p.mat::before {
  content: '';
  width: 45%;
  height: 2px;
  background-color: var(--wt-clr);
  position: absolute;
  bottom: -2px;
  left: 0;
}
.fifth-cours .m-container .prem-css .prem-cs p.pdf{
  padding-bottom: 3px;
}

.sth-cours {
  background-color: #1a191f;
  font-family: var(--sec-font);
  color: var(--wt-clr);
}

.sth-cours .m-container {
    background: url(../img/sthcoursback.jpg) no-repeat center center/cover;
    /* height: 544px;
    width: 793px; */
    /* min-height: 855px; */
    min-height: 623px;
    /* width: 823px; */
    margin: auto;
    position: relative;
  }
.sth-cours .m-container > img {
  /* width: 370px; */
  position: absolute;
  width: 582px;
  right: 10px;
  top: 14px;

}
.sth-cours .m-container img.back {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%
}
.sth-cours .m-container > p {
  position: absolute;
  bottom: 1px;
  display: block;
  font-size: 49px;
  right: 0;
  padding-right: 80px;
}
.sth-cours .m-container > p > a {
  color: var(--sec-clr);
  text-decoration: underline;
}
.sth-cours .m-container > p > a:hover {
  color: var(--prim-clr);
}
.reasons {
  position: absolute;
  right: 0;
  top: 100px;
}
 .rsns {
  height: max-content;
  /* width: 270px; */
  padding-bottom: 1px;
  width: 386px;
  margin-top: 80px;
  margin-right: 10px;
  font-size: 22px;
  
}
 .rsns .rsn {
  display: grid;
  grid-template-columns: 30px auto;
  margin-bottom: 16px;
}
 .rsns .rsn img{
  width: 27px;
  /* height: 17px; */
  display: block;
}
 .rsns .rsn p {
  display: block;
  font-weight: bold;
}


.last-p {
  background-color: #1a191f;
}
.last-p p {
  font-family: var(--sec-font);
  /* position: absolute; */
  /* bottom: 10px; */
  display: block;
  font-size: 49px;
  /* right: 0; */
  padding-right: 80px;
  color: var(--wt-clr);
  text-align: center;
}
.last-p > p > a {
  color: var(--sec-clr);
  text-decoration: underline;
}
.last-p > p > a:hover {
  color: var(--prim-clr);
}
/* COURSES END */


/* SERVICES ST */
.fst-serv .m-container {
  min-height: 380px;
  background-color: var(--prim-clr);
  font-family: var(--sec-font);
  color: var(--wt-clr);
  padding: 0 30px;
  padding-bottom: 30px;
}
.fst-serv .m-container > div.titl {
  margin: auto;
  text-align: center;
  position: relative;
  padding: 10px;
  color: #010101;
  max-width: 950px
}
.fst-serv .m-container > div.titl::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background-color: var(--wt-clr);
}
.fst-serv .m-container > div.titl > p {
  font-size: 32px;
  font-weight: bold;
  background: var(--prim-clr);
  display: block;
  margin: auto;
  max-width: 500px;
  min-height: max-content;
  padding: 10px;
  position: relative;
  /* position: absolute; */
  /* z-index: 2; */
}
.fst-serv .m-container > div.titl p::before {
  /* content: ''; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200%;
  height: 5px;
  background-color: var(--wt-clr);

}
div.titl > div.line {
  display: none;
  width: 100%;
  height: 10px;
  background-color: var(--wt-clr);
  position: absolute;
  
  /* z-index: 1; */

}
.ansrs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  text-align: center;
}
.ansrs .ansr {
  padding: 0 7px;
}
.ansrs img {
  display: block;
  margin: auto;
  width: 137px;
  height: 137px;
}
.ansrs .ansr p.titl {
  display: block;
  margin: auto;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}



.sec-serv .m-container {
  background-color: #adaaaa;
  /* background: url(../img/secservback.jpg) no-repeat center center/cover; */
  min-height: 390px;
  /* min-height: 390px; */
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sec-serv .m-container > img {
  /* float: right; */
  height: 100%;
  width: 100%;
}
.sec-serv .m-container > img.quote {
  height: 96%;
  width: 90%;
  margin: auto;
}

.third-serv .m-container {
  background: url(../img/thirdservback.jpg) no-repeat center center/cover;
  padding: 30px;
  min-height: 680px;
  font-family: var(--sec-font);
  color: var(--wt-clr);
}
.third-serv .m-container > img {
  display: block;
  margin: auto;
  max-width: 450px;
}
.third-serv .m-container ul {
  margin-top: 30px; 
  margin: 30px 80px 0 80px;
}
.third-serv .m-container .why-us {
  max-width: 1203.33px;
  margin: auto;
}
.third-serv .m-container .why-us > img {
  width: 90%;
  display: block;
  margin: 7px auto;
  height: 40px;
}
.third-serv .m-container .ansrs .ansr p {font-size: 18px;}
.why-us .ansrs .ansr > img {
  /* width: 50%; */
  width: 64px;
  height: 70px;
}
.why-us .ansrs .ansr .titl { color: var(--prim-clr);}

.fth-serv .m-container > img {
  display: block;
  margin: 30px auto;
  max-width: 430px;
}
.fth-serv .m-container .ansrs {margin-bottom: 15px}
.fth-serv .m-container .ansrs .ansr img { width: 180px;height: 180px;position: relative;display: block;}
.fth-serv .m-container .ansrs .ansr a {width: max-content;height: max-content; position: relative;cursor: pointer;}
.fth-serv .m-container .ansrs .ansr a::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
.fth-serv .m-container .ansrs .ansr p { 
  display: block;
  margin: 4px auto;
  width: max-content;
  background: linear-gradient(transparent 50%, #fde2af 20%);
  color: var(--drk-clr);
  font-family: var(--sec-font);
  font-weight: bold;
  font-size: 20px;
}

.fifth-serv .m-container .tests .test a {border: none;}
.fifth-serv .m-container .tests .test p {background: none; color: var(--wt-clr)}
/* SERIVCES END */

/* HOME ST */
.fst-home .m-container {
  background: url(../img/fsthomeback.jpg) no-repeat center center/cover;
  /* background-attachment: fixed; */
  height: 340px;
  position: relative;
}
.fst-home .m-container::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(240, 78, 86, 0.479);
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
}
.sec-home {
  border-top:4px solid var(--wt-clr);
  border-bottom:4px solid var(--wt-clr);
}
.sec-home .m-container {
  /* height: 800px;
  width: 100%; */
  /* max-height: 860px; */
  max-width: 100vw;
}
.sec-home .m-container .right-side img.titlpng {
  max-width: 420px;
  position: absolute;
  height: auto !important;
  top: 40px;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
}
.third-home .m-container {
  background: url(../img/thirdhomeback.jpg) no-repeat center center/cover;
  position: relative;
  min-height: 370.5px;
}
.third-home .m-container img.txt {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 970px;
}
.third-home .m-container img.png {
  width: 680px;
  position: absolute;
  bottom: 10px;
  right: 50px;
  z-index: 2;
}
.fth-home {
  border-top: 4px solid var(--wt-clr);
  position: relative;
  background-color: #292828;
  padding: 50px 0;
  padding-bottom: 10px;
  min-height: 435.84px;
}
.fth-home::before {
  content: '';
  background: url(../img/thirdarrowimg.png) no-repeat center center/cover;
  width: 140px;
  height: 150px;
  position: absolute;
  top: -100px;
  left: 460px;
}
.fth-home::after {
  content: '';
  background: url(../img/thirdarrowimg.png) no-repeat center center/cover;
  width: 140px;
  height: 150px;
  position: absolute;
  top: -110px;
  left: 480px;
  opacity: 0.38;
}
.fth-home .m-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); */
  grid-template-columns: 1.3fr 0.7fr;
  margin: auto;
  background-color: #292828;
  font-family: var(--sec-font);
  max-width: 1170px;
}
/* .fth-home .m-container .leftimg  {padding-left: 100px} */
.fth-home .m-container .leftimg img {width: 600px; max-width: 95%;}
.right-reasns {
  display: grid;
  justify-content: center;
  padding-top: 40px;
}
.right-reasns .boxing-rsns {
  padding: 10px 20px;
  background-color: var(--wt-clr);
  font-weight: bold;
  font-size: 18px;
  box-shadow: -15px -27px var(--prim-clr);
  width: 290px;
  position: relative;
}
.right-reasns .boxing-rsns::before {
  content: 'WHY BOXING ?!';
  position: absolute;
  top: -50px;
  color: var(--wt-clr);
  font-size: 32px;

}
.right-reasns .boxing-rsns .boxing-rsn {
  display: grid;
  grid-template-columns: 30px auto;
  margin: 6px 0;
}
.right-reasns > p {
  font-weight: bold;
  color: white;
  font-size: 32px;
  margin-left: -40px;
}
.right-reasns > p > span {color: var(--sec-clr)}
.right-reasns .boxing-rsns .boxing-rsn img {width: 25px}

.fifth-home .m-container {
  background: url(../img/fifthhomeback.jpg) no-repeat center center/cover;
  /* height: 421px; */
  min-height: 443.52px;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  padding-right: 20px;
}
.fifth-home .m-container img { width: 100%}
.fifth-home .m-container img.titl { align-self: center;width: 90%;justify-self: end;}


.sixth-home {position: relative;}
.sixth-home .m-container {
  background: url(../img/sixthhomeback.jpg) no-repeat center center/cover;
  height: 885px;
  font-size: 22px;
  font-family: Century Gothic;
  color: var(--wt-clr);
  display: grid;
  justify-content: end;
  grid-template-rows: min-content auto;
}
.sixth-home .m-container .achievements {
  /* width: max-content; */
  width: 570px;
  margin-left: 80px;
  overflow-y: auto;
}
.sixth-home .m-container .achievements .achievement {
  margin-bottom: 17px;
}
.sixth-home::before {
  content: '';
  background: url(../img/thirdarrowimg.png) no-repeat center center/cover;
  width: 140px;
  height: 150px;
  position: absolute;
  top: -100px;
  right: 60px;
}
.sixth-home::after {
  content: '';
  background: url(../img/thirdarrowimg.png) no-repeat center center/cover;
  width: 140px;
  height: 150px;
  position: absolute;
  top: -110px;
  right: 50px;
  opacity: 0.38;
}

.svnth-home .m-container {
  background: url(../img/svnthhomeback.jpg) no-repeat center center/cover;
  border-top: 5px solid var(--wt-clr);
  border-bottom: 5px solid var(--wt-clr);
  padding: 10px 0;
}
.svnth-home .m-container > img.txt {
  display: block;
  margin: auto;
}

.eith-home .m-container {
  background: url(../img/eithhomeback.jpg) no-repeat center center/cover;
  /* height: 335px; */
  position: relative;
  min-height: 433.92px;
}
.eith-home .m-container img {
  position: absolute;
}
.eith-home .m-container img.titl {
  /* width: 340px;
  bottom: 10px; */
  width: 530px;
  bottom: 20px;
}
.eith-home .m-container img.png {
  width: 590px;
    right: 6px;
    top: 35%;
}

.ninth-home {
  border-top: 5px solid var(--sec-clr);
  border-bottom: 5px solid var(--sec-clr);
  position: relative;
}
.ninth-home .m-container {
  background: url(../img/ninthhomeback.jpg) no-repeat center center/cover;
  min-height: 385px;
  display: grid;
  align-items: center;
}

.ninth-home .m-container .ansrs .ansr:hover p{color: var(--sec-clr) !important}
.ninth-home .m-container .ansrs .ansr p{
  color: var(--wt-clr);
  background: linear-gradient(transparent 50%, rgba(240, 78, 86, 0.404) 20%);
  font-size: 20px;
}
.ninth-home::before {
  content: '';
  background: url(../img/thirdarrowimg.png) no-repeat center center/cover;
  width: 140px;
  height: 150px;
  position: absolute;
  top: -100px;
  left: 460px;
}
.ninth-home::after {
  content: '';
  background: url(../img/thirdarrowimg.png) no-repeat center center/cover;
  width: 140px;
  height: 150px;
  position: absolute;
  top: -110px;
  left: 480px;
  left: 480px;
  opacity: 0.38;
}
/* .fst-home .m-container > img {width: 100%;} */


/* HOME END */

/* GALLERY ST */
.fst-gallery {
  background: var(--blue-drk-clr);
  font-family: var(--sec-font);
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 340px;
  height: 280px;
 
}
.fst-gallery .swiper-container .swiper-wrapper .swiper-slide {
  padding: 30px;
  background-color: #f4f4f4;
}
.fst-gallery .swiper-slide {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.swiper-slide img {
  width: 100%;
  height: 186.67px;
  box-shadow: 0px 10px 30px var(--blue-drk-clr);
}


.sec-gallery {
  background-color: var(--wt-clr)
}
.sec-gallery .imgs {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 4px;
  background-color: var(--wt-clr);
  padding: 20px;
  min-height: 400px;
}
.sec-gallery .imgs img {
  height: 100%;
  width: 100%;
}

/* GALLERY END */

/* FOOTER ST */
.footer {
  display: block;
  height: 40px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: var(--wt-clr);
}

/* FOOTER END */
/* ALL THE ANIMATIONS OF THE SITE */
/* @keyframes fst-anim {
  70% {
    opacity: 1;
    transform: translateY(-10px)
  }
  90% {
    transform: translateY(-10px)
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes sec-anim {
  to {
    opacity: 1;
    transform: translateY(0) scale(1) scaleX(1);
  }
}
@keyframes animthis {
  to {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}
.title-anim{
  transform: translate(-50px, 50px);
  opacity: 0;
}
.anim-this {
  animation-name: animthis;
  animation-duration: 0.5s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.p-anim{
  transform: translate(-100px, 0);
  opacity: 0;
}
.header .m-container .main-img {
  transform: translateY(30px);
  opacity: 0;
}
.anim-cls {
  animation-name: fst-anim;
  animation-duration: 0.8s;
  /animation-delay: 0.3s; 
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.header .m-container .name .olym, .header .m-container .name .remain {
  display: inline-block;
  transform: translateY(-90px) rotateZ(-30deg);
  animation-delay: 0.1;
  opacity: 0;
}
.header .m-container .name .remain {
 animation-delay: 0.2s;
 transform: translateY(-110px) rotateZ(-40deg)
}
.header .m-container .categ .catt {
  transform: scale(2) translateY(30px);
  opacity: 0;
  animation-name: sec-anim;
  animation-duration: 0.45s;
  / animation-delay: 1s; 
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.sec-anim-cls {
  transform: scaleY(0.01);
  opacity: 0;
  animation-name: sec-anim;
  animation-duration: 0.45s;
  / animation-delay: 1s; 
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
textarea.sec-anim-cls {
  transform: scaleX(0.01);
}
img.sec-anim-cls {
  transform: translateX(-200px) !important
}
a.to-prim {
  transform: translateY(100px) !important ;
  opacity: 0 !important;
} */

.benefits-title > p {
  transform: translateY(80px);
  opacity: 0;
}
.benefits-title > img {
  transform: translate(-80px);
  opacity: 0;
}
.benefits-txt-container .bnfts-txt .bnfts .bnft {
  transform: translateX(-100px);
  opacity: 0;
}
.third-cours .m-container .packages .package {
  transform: translateY(100px);
  opacity: 0;
}
.third-cours .m-container .packages .package:hover {
  transform: scale(1.1);
}
.fth-cours > img {
  transform: translateX(-100px);
  opacity: 0;
}
.fth-cours > p {
  transform: translateX(150px);
  opacity: 0;
  display: inline-block;
}
.fifth-cours .m-container .prem-css .prem-cs {
  transform: translate(-200px, 200px);
  opacity: 0;
}
.sth-cours .m-container .reasons .rsns .rsn {
  transform: translateY(100px);
  opacity: 0;
  margin-bottom: 24px;
}
.ansrs .ansr.fst-anim-this {
  transform: rotateX(180deg) scale(0.01);
  opacity: 0;
}
.fth-serv .m-container {padding-bottom: 40px}
.sec-serv .m-container > img.quote {display: block;transform: scaleX(0.001);}
.fth-serv .m-container .ansrs .ansr.third-anim-this { transform: scale(1.7);opacity: 0}
.fth-serv .m-container .ansrs .ansr.third-anim-this:hover p { color: var(--prim-clr)}

.sec-home .m-container .right-side img.titlpng {display: block;transform: rotateZ(180deg);opacity: 0;}
.third-home .m-container img.txt {transform: translateY(-120px) rotateZ(-40deg);opacity: 0;}
.third-home .m-container img.png {transform: translateX(120px);opacity: 0;}
.boxing-rsns .boxing-rsn {
  transform: translateX(-120px);
  opacity: 0;
}
.fifth-home .m-container img.txt {transform: scaleX(0.01);}
.fifth-home .m-container img.titl {transform: scale(1.4);opacity: 0;}
.achievements .achievement {
  transform: translateY(120px);opacity: 0;
}
.anim-here {
  animation-name: animaate;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes animaate {
  to {
    transform: scale(1) translate(0) rotate(0);
    opacity: 1;
  }
}
#now {
  animation-name: nowanim;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  display: inline-block;
}
@keyframes nowanim {

  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% { 
    transform: scale(1);
  }
}
/* ANIMATION END */


/* RESPONSIVITY */
@media (min-height: 1023px){
  a.to-prim {
  opacity: 0;
  animation-name: sec-anim;
  animation-duration: 0.45s;
  /* animation-delay: 1s; */
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  }
  
}
@media (max-width: 814px){
  .header .m-container {
    grid-template-columns: 55.792px 694.198px;
  }
  .third-home .m-container  {
    height: 40vh;
    min-height:230px;
  }
  .third-home .m-container img {width: 100%}
  .third-home .m-container img.png {width: 90%}
}
@media (max-width: 824px){
  .m-container .name {
    font-size: 31px !important;
  }
  .header .m-container {
    grid-template-columns:  85.792px 574.198px
  }
}
@media (max-width: 568px){
  .m-container .name {
    font-size: 31px !important;
  }
  .header .m-container {
    grid-template-columns:  85.792px 454.198px
  }
}
@media (max-width: 440px){
  a.to-prim {
    opacity: 0;
    animation-name: sec-anim;
    animation-duration: 0.45s;
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  .header {
    max-height: 390px;
    /* display: none; */
  }
  .header .m-container {
    grid-template-columns: 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  }
  .header .m-container a, .header .m-container .name, .header .m-container .categ{
    grid-row: auto;
    grid-column: auto;
  }
  .contact-showcase .m-container .toch-png, .follow-section .m-container .follow {
    width: 280px;
  }
  .contact-showcase::before {
    display: none;
  }
  .contact-showcase .m-container form {
    width: 290px;
  }
  .contact-showcase .m-container form .txt-area-div #message {
    width: 100%;
  }
  .contact-showcase .m-container form .inpts {
    grid-template-columns: 1fr;
  }
}